#viewer
{
	display: none;
}

#viewer .header
{
	background-color: #cccccc;
	height: 32px;
	padding: 7px 5px 0 0;
	text-align: right;
}

#page
{
	overflow: scroll;
}

#page .active
{
	display: block;
}

#page .inactive
{
	display: none;
}