<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="CamaraSRMEntities" connectionString="metadata=res://*/SRMModel.csdl|res://*/SRMModel.ssdl|res://*/SRMModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=CCPSDIT17\MSSQLSERVER_DEV;initial catalog=CamaraSDQ;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>