<?xml version="1.0"?>
<configuration>
  <configSections>
    <!-- DEFINE ELMAH LIBRARY SECTIONS -->
    <sectionGroup name="elmah">
      <section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah"/>
      <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah"/>
      <section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah"/>
      <section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah"/>
      <section name="errorTweet" requirePermission="false" type="Elmah.ErrorTweetSectionHandler, Elmah"/>
    </sectionGroup>
    <section name="servicioSection" type="CamaraComercio.Website.Helpers.ServicioSection, CamaraComercio.Website"/>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="CamaraComercio.Website.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <servicioSection>
    <Servicios>
      <add id="1" tipoSociedadId="1" tieneCapitalSocial="true" servicioConstitucionId="375" servicioModificacionId="2" servicioAdecuacionId="45" solicitudInclusionId="686" servicioAumentoCapital="1" servicioRenovacionSimpleId="398" servicioRenovacionId="371" servicioTransformacionAumentoId="1" servicioTransformacionReduccionId="1"/>
      <add id="2" tipoSociedadId="2" tieneCapitalSocial="true" servicioConstitucionId="375" servicioModificacionId="2" servicioAdecuacionId="34" solicitudInclusionId="686" servicioAumentoCapital="1" servicioRenovacionSimpleId="398" servicioRenovacionId="371" servicioTransformacionAumentoId="1" servicioTransformacionReduccionId="1"/>
      <add id="3" tipoSociedadId="3" tieneCapitalSocial="true" servicioConstitucionId="375" servicioModificacionId="2" servicioAdecuacionId="1" solicitudInclusionId="686" servicioAumentoCapital="1" servicioRenovacionSimpleId="398" servicioRenovacionId="371" servicioTransformacionAumentoId="1" servicioTransformacionReduccionId="1"/>
      <add id="4" tipoSociedadId="4" tieneCapitalSocial="true" servicioConstitucionId="375" servicioModificacionId="2" servicioAdecuacionId="1" solicitudInclusionId="686" servicioAumentoCapital="1" servicioRenovacionSimpleId="398" servicioRenovacionId="371" servicioTransformacionAumentoId="1" servicioTransformacionReduccionId="1"/>
      <add id="5" tipoSociedadId="5" tieneCapitalSocial="true" servicioConstitucionId="375" servicioModificacionId="2" servicioAdecuacionId="1" solicitudInclusionId="686" servicioAumentoCapital="1" servicioRenovacionSimpleId="398" servicioRenovacionId="371" servicioTransformacionAumentoId="1" servicioTransformacionReduccionId="1"/>
      <add id="6" tipoSociedadId="6" tieneCapitalSocial="true" servicioConstitucionId="375" servicioModificacionId="2" servicioAdecuacionId="1" solicitudInclusionId="686" servicioAumentoCapital="1" servicioRenovacionSimpleId="398" servicioRenovacionId="371" servicioTransformacionAumentoId="1" servicioTransformacionReduccionId="1"/>
      <add id="7" tipoSociedadId="7" tieneCapitalSocial="true" servicioConstitucionId="419" servicioModificacionId="2" servicioAdecuacionId="1" solicitudInclusionId="686" servicioAumentoCapital="1" servicioRenovacionSimpleId="398" servicioRenovacionId="371" servicioTransformacionAumentoId="1" servicioTransformacionReduccionId="1"/>
      <add id="8" tipoSociedadId="13" tieneCapitalSocial="true" servicioConstitucionId="376" servicioModificacionId="2" servicioAdecuacionId="1" solicitudInclusionId="686" servicioAumentoCapital="1" servicioRenovacionSimpleId="398" servicioRenovacionId="371" servicioTransformacionAumentoId="1" servicioTransformacionReduccionId="1"/>
      <add id="9" tipoSociedadId="13" tieneCapitalSocial="false" servicioConstitucionId="377" servicioModificacionId="2" servicioAdecuacionId="1" solicitudInclusionId="686" servicioAumentoCapital="1" servicioRenovacionSimpleId="398" servicioRenovacionId="371" servicioTransformacionAumentoId="1" servicioTransformacionReduccionId="1"/>
      <add id="10" tipoSociedadId="15" tieneCapitalSocial="true" servicioConstitucionId="375" servicioModificacionId="2" servicioAdecuacionId="1" solicitudInclusionId="686" servicioAumentoCapital="1" servicioRenovacionSimpleId="398" servicioRenovacionId="371" servicioTransformacionAumentoId="1" servicioTransformacionReduccionId="1"/>
      <add id="11" tipoSociedadId="16" tieneCapitalSocial="true" servicioConstitucionId="375" servicioModificacionId="2" servicioAdecuacionId="1" solicitudInclusionId="686" servicioAumentoCapital="1" servicioRenovacionSimpleId="398" servicioRenovacionId="371" servicioTransformacionAumentoId="1" servicioTransformacionReduccionId="1"/>
      <add id="12" tipoSociedadId="8" tieneCapitalSocial="true" servicioConstitucionId="419" servicioModificacionId="2" servicioAdecuacionId="1" solicitudInclusionId="686" servicioAumentoCapital="1" servicioRenovacionSimpleId="398" servicioRenovacionId="371" servicioTransformacionAumentoId="1" servicioTransformacionReduccionId="1"/>
      <add id="13" tipoSociedadId="9" tieneCapitalSocial="true" servicioConstitucionId="419" servicioModificacionId="2" servicioAdecuacionId="1" solicitudInclusionId="686" servicioAumentoCapital="1" servicioRenovacionSimpleId="398" servicioRenovacionId="371" servicioTransformacionAumentoId="1" servicioTransformacionReduccionId="1"/>
      <add id="14" tipoSociedadId="10" tieneCapitalSocial="true" servicioConstitucionId="419" servicioModificacionId="2" servicioAdecuacionId="1" solicitudInclusionId="686" servicioAumentoCapital="1" servicioRenovacionSimpleId="398" servicioRenovacionId="371" servicioTransformacionAumentoId="1" servicioTransformacionReduccionId="1"/>
      <add id="15" tipoSociedadId="11" tieneCapitalSocial="true" servicioConstitucionId="419" servicioModificacionId="2" servicioAdecuacionId="1" solicitudInclusionId="686" servicioAumentoCapital="1" servicioRenovacionSimpleId="398" servicioRenovacionId="371" servicioTransformacionAumentoId="1" servicioTransformacionReduccionId="1"/>
      <add id="16" tipoSociedadId="12" tieneCapitalSocial="true" servicioConstitucionId="419" servicioModificacionId="2" servicioAdecuacionId="1" solicitudInclusionId="686" servicioAumentoCapital="1" servicioRenovacionSimpleId="398" servicioRenovacionId="371" servicioTransformacionAumentoId="1" servicioTransformacionReduccionId="1"/>
      <add id="18" tipoSociedadId="14" tieneCapitalSocial="true" servicioConstitucionId="419" servicioModificacionId="2" servicioAdecuacionId="1" solicitudInclusionId="686" servicioAumentoCapital="1" servicioRenovacionSimpleId="398" servicioRenovacionId="371" servicioTransformacionAumentoId="1" servicioTransformacionReduccionId="1"/>
      <add id="21" tipoSociedadId="17" tieneCapitalSocial="true" servicioConstitucionId="419" servicioModificacionId="2" servicioAdecuacionId="1" solicitudInclusionId="686" servicioAumentoCapital="1" servicioRenovacionSimpleId="398" servicioRenovacionId="371" servicioTransformacionAumentoId="1" servicioTransformacionReduccionId="1"/>
    </Servicios>
  </servicioSection>
  <!-- ELMAH LIBRARY CONFIGURATION -->
  <elmah>
    <security allowRemoteAccess="0"/>
    <errorLog type="Elmah.SqlErrorLog, Elmah" connectionStringName="CamaraWebsiteErrors"/>
  </elmah>
  <appSettings>
    <add key="MetodoPago" value="2"/>
    <add key="UsuariosTransaccionesGenerales" value="woleaga,ssanchez,epuente"/>
    <add key="TipoServicioId" value="2"/>
    <add key="TipoServicioIdCreacion" value="1"/>
    <add key="ServicioIdsSinDocumentos" value="398"/>
    <add key="ReduccionCapSocialCeroId" value="700"/>
    <add key="TipoServicioIdTransformacion" value="11"/>
    <add key="TipoServicioIdRenovacion" value="3"/>
    <add key="TipoServicioIdCierreRegistral" value="14"/>
    <add key="ServicioCertificacionId" value="7"/>
    <add key="ServicioCopiasCertificadasId" value="39"/>
    <add key="ServiciosComplementariosIds" value="372,381;383,384"/>
    <add key="ServiciosTransfComplementarioIds" value="385,386"/>
    <add key="ServiciosHeaderIds" value="372,388"/>
    <add key="ServicioInclusionId" value="686"/>
    <add key="DuracionRegistroMercantilAños" value="2"/>
    <add key="TiempoMinimoPermitirRenovacionDias" value="180"/>
    <add key="TiempoMinimoPermitirRenovacionMeses" value="3"/>
    <add key="EstatusTransIdCompletado" value="14"/>
    <add key="MensajeNotaNovDiasDetalleTransaccion" value="Este mensaje puede ser personalizado(ver detalle)"/>
    <add key="MensajeNotaNovDiasConfirmacionPago" value="Este mensaje puede ser personalizado(confirmación pago)"/>
    <add key="EstatusTransIdAnalisis" value="39"/>
    <add key="EstatusTransIdCertificacion" value="17"/>
    <add key="EstatusTransIdStandBy" value="1,2,15"/>
    <add key="EstatusTransIdNuevo" value="40"/>
    <add key="EstatusTransIdEnSRM" value="39"/>
    <add key="CantidadCopiasGratisNuevaEmpresa" value="1"/>
    <add key="CantidadOriginalGratisNuevaEmpresa" value="1"/>
    <add key="TipoSociedadNoEmpresasMenoresEdad" value="6,7"/>
    <add key="TipoSociedadAlPortador" value="1,13"/>
    <add key="TipoSociedadExtranjera" value="13"/>
    <add key="TipoSociedadPersonaFisica" value="7"/>
    <add key="TipoComprobanteIdDefault" value="2"/>
    <add key="TipoSociedadPorcSuscrito" value="1,16,5"/>
    <add key="ServicioFlowIdNoRequiereAnalisis" value="3"/>
    <add key="TipoSocioConAcciones" value="A"/>
    <add key="TipoSociedadOrdenConstitucion" value="1,16,2,6,17"/>
    <add key="TipoSocioSinCargo" value="A"/>
    <add key="HoraInicioOficina" value="08:00:00"/>
    <add key="HoraFinOficina" value="17:00:00"/>
    <add key="mailconfirmacioncuenta" value="noreplay@camarasantodomingo.do"/>
    <add key="mailuser" value="noreplay@camarasantodomingo.do"/>
    <add key="mailpassword" value="Uq_KPdgFxH3rT69it2mWyQ"/>
    <add key="passwordservicionotificacion" value="pass"/>
    <add key="mailserver" value="smtp.mandrillapp.com"/>
    <add key="PorcentajeVIP" value="100"/>
    <add key="PasswordMondorRates" value="da567a1061474a4c8eebb1597e994286"/>
    <add key="PorcentajeCapitalPagado" value="10"/>
    <add key="usuariosrolpordefecto" value="Gestores"/>
    <add key="templatenuevousuario" value="RegistrationInfo.vm"/>
    <add key="saltkey" value="tomahSaltahii!7731"/>
    <add key="HomePage" value="~/default.aspx"/>
    <add key="SiteMapPage" value="~/default.aspx"/>
    <add key="RedirectLogin" value="~/Empresas/Oficina.aspx"/>
    <add key="TokenLifetime" value="30"/>
    <add key="EstatusTransaccionCompletaSrm" value="15"/>
    <add key="TransGatewayUrl" value="https://ecommerce.visanet.com.do/APaymentWebPay/default.aspx"/>
    <add key="TransGatewayConfirmUrl" value="http://ccpsd.sugarcoded.co/payments/confirm"/>
    <add key="TransGatewayApiKey" value="LTM1MTY4MDE4"/>
    <!--Esta lista se crea para agregar las camaras que pueden realizar pagos-->
    <add key="CamarasHabilitarPago" value="SDQ,GOT,SAN,SPM,EPT,PPT,MCR,MON,SRA,VVD,IND,LVG,SMN,ALT"/>
    <!--Esta lista se crea para agregar las camaras que realizan pagos + "/" + El nombre del metodo de pago-->
    <add key="CamarasConPago" value="SDQ/Azul,SAN/Visanet,SPM/Carnet,EPT/Azul,PPT/Azul,MCR/Azul,MON/Azul,SRA/Azul,VVD/Azul,IND/Carnet,LVG/Azul,SMN/Carnet,ALT/Carnet"/>
    <!-- Key para Camaras con CardNet, Format: MerchantNumber,MerchantTerminal,MerchantType, -->
    <add key="SPM" value="349000000,58585858,7997,0,"/>
    <add key="IND" value="349000000,58585858,7997,0,"/>
    <add key="ALT" value="349000000,58585858,7997,0,"/>
    <add key="SMN" value="349000000,58585858,7997,0,"/>
    <!--<add key="IND" value="349087406,10310609,9399,0," />-->
    <!--<add key="LVG" value="349085895,10310524,9399,0," />-->
    <add key="TransGatewayUrlCardNet" value="https://lab.cardnet.com.do/authorize"/>
    <!-- Key para Camaras con Azul, Format: MerchantId,MerchantName,MerchantType,Authkey, -->
    <!--<add key="SDQ" value="39038540035,0,0,asdhakjshdkjasdasmndajksdkjaskldga8odya9d8yoasyd98asdyaisdhoaisyd0a8sydoashd8oasydoiahdpiashd09ayusidhaos8dy0a8dya08syd0a8ssdsax," />-->
    <add key="SDQ" value="39038540035,0,0,asdhakjshdkjasdasmndajksdkjaskldga8odya9d8yoasyd98asdyaisdhoaisyd0a8sydoashd8oasydoiahdpiashd09ayusidhaos8dy0a8dya08syd0a8ssdsax,"/>
    <add key="LVG" value="39038540035,0,0,asdhakjshdkjasdasmndajksdkjaskldga8odya9d8yoasyd98asdyaisdhoaisyd0a8sydoashd8oasydoiahdpiashd09ayusidhaos8dy0a8dya08syd0a8ssdsax,"/>
    <add key="EPT" value="39038540035,0,0,asdhakjshdkjasdasmndajksdkjaskldga8odya9d8yoasyd98asdyaisdhoaisyd0a8sydoashd8oasydoiahdpiashd09ayusidhaos8dy0a8dya08syd0a8ssdsax,"/>
    <add key="PPT" value="39038540035,0,0,asdhakjshdkjasdasmndajksdkjaskldga8odya9d8yoasyd98asdyaisdhoaisyd0a8sydoashd8oasydoiahdpiashd09ayusidhaos8dy0a8dya08syd0a8ssdsax,"/>
    <add key="MCR" value="39038540035,0,0,asdhakjshdkjasdasmndajksdkjaskldga8odya9d8yoasyd98asdyaisdhoaisyd0a8sydoashd8oasydoiahdpiashd09ayusidhaos8dy0a8dya08syd0a8ssdsax,"/>
    <add key="MON" value="39038540035,0,0,asdhakjshdkjasdasmndajksdkjaskldga8odya9d8yoasyd98asdyaisdhoaisyd0a8sydoashd8oasydoiahdpiashd09ayusidhaos8dy0a8dya08syd0a8ssdsax,"/>
    <add key="SRA" value="39038540035,0,0,asdhakjshdkjasdasmndajksdkjaskldga8odya9d8yoasyd98asdyaisdhoaisyd0a8sydoashd8oasydoiahdpiashd09ayusidhaos8dy0a8dya08syd0a8ssdsax,"/>
    <add key="VVD" value="39038540035,0,0,asdhakjshdkjasdasmndajksdkjaskldga8odya9d8yoasyd98asdyaisdhoaisyd0a8sydoashd8oasydoiahdpiashd09ayusidhaos8dy0a8dya08syd0a8ssdsax,"/>
    <add key="TransGatewayUrlAzul" value="https://pruebas1.azul.com.do/paymentpage/Default.aspx"/>
    <!-- Llave para producción: c1ba2631e2a2ee67c5e4e92e2d9788db6c7dea32 -->
    <add key="TransGatewayOrderType" value="RM-OFV"/>
    <!-- Usuario de facturación en el sistema de gestión -->
    <add key="UsuarioFacturacion" value="Transferenciabhd"/>
    <!-- Configuración de integración con Nobox -->
    <add key="NoboxAPI" value="http://www.camarasantodomingo.do/red_empresarial/webservice.php"/>
    <add key="NoboxLogin" value="http://localhost:2899/Account/Login.aspx"/>
    <add key="NoboxLogout" value="http://localhost:2899"/>
    <add key="NoboxMainPage" value="http://localhost:2899"/>
    <add key="NoboxApplicationKey" value="7EA74FE0-D8DC-40F0-9B7B-98B420F712B9"/>
    <!--IDs principales para entidades en Rep Dominicana-->
    <add key="IdPaisRepDominicana" value="1"/>
    <add key="IdCiudadesPrincipales" value="1,262,344,345,9"/>
    <add key="IdEstatusTransaccionesCerradas" value="13,14,41,42"/>
    <add key="IdEstatusTransaccionesDuplicar" value="11,13,14,41,42"/>
    <add key="IdCamaraPrincipal" value="SDQ"/>
    <add key="IdCamaraSecundaria" value="PSD"/>
    <!--ID en la tabla de Tipos de empresas para las sociedades anonimas-->
    <add key="IdSociedadesAnonima" value="1"/>
    <!--Configuracion de SQL Transactions-->
    <add key="UseTransactionScopeOnSave" value="false"/>
    <!--Configuracion Subject  de Impresion-->
    <add key="SubjectImpresionTicket" value="Impresión de la Solicitud"/>
    <add key="FromCorreoCamara" value="noreply@camarasantodomingo.do"/>
    <add key="UrlPortal" value="https://servicios.camarasantodomingo.do"/>
    <!--Certificaciones-->
    <!--antes eran 14-->
    <add key="ServicioIdRmNoExiste" value="404"/>
    <add key="ModeloIdRmNoExiste" value="14"/>
    <!-- Credenciales Web Service DGII -->
    <add key="wsDgiiUsername" value="ccomer"/>
    <add key="wsDgiiPassword" value="r@zxr4yx"/>
    <add key="WebDocumentViewerDocumentGenerator" value="http://content/VisorWeb/GetDocumentHandler.ashx?id="/>
    <add key="ServicioCopiasCertificadasId" value="39"/>
    <add key="ServiciosPagoOnline" value="410,404,415,407,411,412,413,414,688,686"/>
    <add key="TransaccionalUrl" value="http://localhost:2899/TarjetaCredito/PagosTarjeta.aspx"/>
    <add key="TransaccionalUrlPaginaTransaccion" value="http://localhost:2899/TarjetaCredito/PagoTransaccion.aspx"/>
    <add key="TransaccionalUrlPaginaTransaccionFirmaDigital" value="http://localhost:2899/Empresas/CertificadosFirma.aspx"/>
    <add key="ServiciosNoVip" value="414"/>
    <add key="ShowOnlyStatus" value="1,21,17,4,13,3,11,14,15,18,41,42"/>
    <add key="Usuario" value="cmanzueta"/>
    <!--Usuario de WebService Reportes de CRM-->
    <add key="Password" value="Camara123"/>
    <!--Usuario de WebService Reportes de CRM-->
    <add key="EncryptionKey" value="0E52B3ED-0A84-482D-8BC4-9D8100B6E59B"/>
    <add key="ShareBaseEnabled" value="false"/>
    <add key="ShareBaseToken" value="ZDc0OTFjZjktMDBmNS00YmRjLTkwM2YtYzJjOTZjYTlkNjI4"/>
    <add key="CorreoPrueba" value="true"/>
    <add key="ReaperturarCasoAccesoActivo" value="false"/>
    <add key="ReaperturarCasoAccesoUsers" value="pruebae1,pruebaqa4"/>
    <add key="TooltipFirmaDigitalEnvioDatos" value="Este servicio habilita la opción del registro de documentos firmados digitalmente, utilizando un certificado de firma digital conforme la Ley Núm. 126-02, sobre Comercio Electrónico, Documentos y Firmas Digitales. En ese sentido, le informamos que se realizará un análisis del documento, en el cual se compruebe la validez tanto de la firma digital colocada como del certificado de firma digital utilizado, a los fines de que cumpla con todos los requerimientos del ente regulador, Instituto Dominicano de las Telecomunicaciones (INDOTEL)."/>
    <add key="CorreoFirmaDigital" value="oleaga29@gmail.com"/>
    <add key="CorreoFirmaDigitalCC" value="ssanchez@camarasantodomingo.do,woleaga@camarasantodomingo.do"/>
    <add key="CorreoAperturaError" value="oleaga29@gmail.com"/>
    <!--Usuario de Caja para factura-->
    <add key="UsuarioCaja" value="BHDIIS"/>
    <!-- Variables de BHD  -->
    <add key="UrlAutenticacion" value="https://api-sqa.bhdleon.com.do/bhdleon/boton/v2/proveedores/autenticacion"/>
    <add key="UrlBHD" value="https://boton-sqa.bhdleon.com.do/login/"/>
    <add key="clientId" value="e886a298-9460-4ecc-8dab-3c9b869f8d6d"/>
    <add key="clientSecret" value="580dc784-31cf-4523-a6cb-42f6670c3658"/>
    <add key="urltokenunico" value="https://api-sqa.bhdleon.com.do/bhdleon/boton/v2/proveedores/obtener/token/unico"/>
    <!-- Variables de las consultas-->
    <add key="urlConsultar" value="https://api-sqa.bhdleon.com.do/bhdleon/boton/v2/clientes/pagos/sometidos/consultar"/>
    <add key="providerId" value="90909106"/>
    <add key="serviceId" value="123456803"/>
    <!--<add key="SellosColegioServiceId" value="743"/>-->
    <add key="SellosColegioCuenta" value="1242"/>
    <!--quitarlo cuando la cuenta se busque por el servicio:-->
    <!--Nombre Carperta en ShareBase:-->
    <add key="NombreCarpetaShareBase" value="CAMARA SANTO DOMINGO QA"/>
    <!--Nombre Carperta en ShareBase:-->
    <add key="TimeOutWS" value="600000"/>
    <!--new Key sera el estado completado a validar respuesta BHD :-->
    <add key="IdEstadoBHDEmpresarial" value="006"/>
    <add key="IdEstadoBHDLocal" value="3"/>
    <add key="IdEstadoBHDLocalPagado" value="2"/>
	  
	<add key="IdEstadoBHDEmpresarialRechazo" value="008"/>
	<add key="IdEstadoBHDLocalRechazado" value="8"/>
  </appSettings>
  <!-- CONN STRINGS -->
  <connectionStrings>
    <clear/>
    <!-- Conexiones originales -->
    <add name="SRM" connectionString="Data Source=CCPSDIT17\MSSQLSERVER_DEV;Initial Catalog=camara{0};User Id=sa2;Password=Camara123*;Max Pool Size=1000;Asynchronous Processing=True;Connect Timeout=300" providerName="System.Data.SqlClient"/>
    <add name="CamaraWebsite" connectionString="Data Source=CCPSDIT17\MSSQLSERVER_DEV;Initial Catalog=CamaraWebsite;User Id=sa2;Password=Camara123*;Max Pool Size=1000;Asynchronous Processing=True;Connect Timeout=300" providerName="System.Data.SqlClient"/>
    <add name="CamaraWebsiteErrors" connectionString="Data Source=CCPSDIT17\MSSQLSERVER_DEV;Initial Catalog=CamaraWebsiteErrors;User Id=sa2;Password=Camara123*;Max Pool Size=1000;Asynchronous Processing=True;Connect Timeout=300" providerName="System.Data.SqlClient"/>
    <add name="CamaraWebSiteAccounts" connectionString="Data Source=CCPSDIT17\MSSQLSERVER_DEV;Initial Catalog=CamaraWebsiteAccounts;User Id=sa2;Password=Camara123*;Max Pool Size=1000;Asynchronous Processing=True;Connect Timeout=300" providerName="System.Data.SqlClient"/>
    <add name="CamaraComun" connectionString="Data Source=CCPSDIT17\MSSQLSERVER_DEV;Initial Catalog=CamaraComun;User Id=sa2;Password=Camara123*;Max Pool Size=1000;Asynchronous Processing=True;Connect Timeout=300" providerName="System.Data.SqlClient"/>
    <add name="SRMDB" connectionString="Data Source=CCPSDIT17\MSSQLSERVER_DEV;Initial Catalog=CamaraSDQ;User Id=sa2;Password=Camara123*;Max Pool Size=1000;Asynchronous Processing=True;Connect Timeout=300" providerName="System.Data.SqlClient"/>
    <add name="SRMDB" connectionString="Data Source=CCPSDIT17\MSSQLSERVER_DEV;Initial Catalog=CamaraSDQ;User Id=sa2;Password=Camara123*;Max Pool Size=1000;Asynchronous Processing=True;Connect Timeout=300" providerName="System.Data.SqlClient"/>
    <add name="SRMDB_Base" connectionString="Data Source=CCPSDIT17\MSSQLSERVER_DEV;Initial Catalog=Camara{0};User Id=sa2;Password=Camara123*;Max Pool Size=1000;Asynchronous Processing=True;Connect Timeout=300" providerName="System.Data.SqlClient"/>
    <add name="CamaraMailBot" connectionString="Data Source=CCPSDIT17\MSSQLSERVER_DEV;Initial Catalog=CamaraMailBot;User Id=sa2;Password=Camara123*;" providerName="System.Data.SqlClient"/>
    <add name="dbMyCMSConnectionString" connectionString="Data Source=CCPSDIT17\MSSQLSERVER_DEV;Initial Catalog=CamaraWebsiteAccounts;User Id=sa2;Password=Camara123*;" providerName="System.Data.SqlClient"/>
    <!-- Entity Framework -->
    <add name="CamaraComunEntities" connectionString="metadata=res://*/CamaraComunModel.csdl|res://*/CamaraComunModel.ssdl|res://*/CamaraComunModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=CCPSDIT17\MSSQLSERVER_DEV;Initial Catalog=CamaraComun;User Id=sa2;Password=Camara123*;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
    <add name="CamaraWebsiteEntities" connectionString="metadata=res://*/OficinaVirtualModel.csdl|res://*/OficinaVirtualModel.ssdl|res://*/OficinaVirtualModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=CCPSDIT17\MSSQLSERVER_DEV;Initial Catalog=CamaraWebsite;User Id=sa2;Password=Camara123*;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
    <add name="CamaraWebsiteAccountsEntities" connectionString="metadata=res://*/MembershipModel.csdl|res://*/MembershipModel.ssdl|res://*/MembershipModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=CCPSDIT17\MSSQLSERVER_DEV;Initial Catalog=CamaraWebsiteAccounts;User Id=sa2;Password=Camara123*;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
    <add name="CamaraSRMEntities" connectionString="metadata=res://*/SRMModel.csdl|res://*/SRMModel.ssdl|res://*/SRMModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=CCPSDIT17\MSSQLSERVER_DEV;Initial Catalog=Camara{0};User Id=sa2;Password=Camara123*;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
    <add name="ModuloPagoVisanetEntities" connectionString="metadata=res://*/ModelModuloPagoVisanet.csdl|res://*/ModelModuloPagoVisanet.ssdl|res://*/ModelModuloPagoVisanet.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=CCPSDIT17\MSSQLSERVER_DEV;initial catalog=ModuloPagoVisanet;User Id=sa2;Password=Camara123*;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="CamaraSRMEntitiesSDQ" connectionString="metadata=res://*/SRMModel.csdl|res://*/SRMModel.ssdl|res://*/SRMModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=CCPSDIT17\MSSQLSERVER_DEV;Initial Catalog=CamaraSDQ;User Id=sa2;Password=Camara123*;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
  <system.web>
    <globalization culture="es-DO"/>
    <pages maintainScrollPositionOnPostBack="true" theme="Default" controlRenderingCompatibilityVersion="4.0">
      <controls>
        <add assembly="Telerik.Web.UI" namespace="Telerik.Web.UI" tagPrefix="telerik"/>
      </controls>
    </pages>
    <httpRuntime maxRequestLength="40000000"/>
    <!-- IMPORTANT!************************************************************* -->
    <!-- SQLMembership ROLES Provider -->
    <roleManager enabled="true" defaultProvider="MyCMSSqlRoleProvider" cacheRolesInCookie="true" createPersistentCookie="false" cookieProtection="All">
      <providers>
        <clear/>
        <add applicationName="CamaraWebsite" connectionStringName="CamaraWebSiteAccounts" name="MyCMSSqlRoleProvider" type="System.Web.Security.SqlRoleProvider"/>
      </providers>
    </roleManager>
    <compilation debug="true" targetFramework="4.6" batch="false" optimizeCompilations="true">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Drawing.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="eWorld.UI, Version=2.0.6.2393, Culture=neutral, PublicKeyToken=24D65337282035F2"/>
        <add assembly="Telerik.Web.UI"/>
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880" defaultUrl="~/Empresas/Oficina.aspx"/>
    </authentication>
    <customErrors mode="RemoteOnly" redirectMode="ResponseRedirect" defaultRedirect="~/Error.htm">
      <error statusCode="404" redirect="~/Error404.htm"/>
    </customErrors>
    <!-- IMPORTANT!************************************************************* -->
    <!-- SQLMembership USERS Provider - Add a customized SqlMembershipProvider. Note: the "second" provider is used by admin to be able to reset user passwords -->
    <membership defaultProvider="dbSqlMemberShipProvider" userIsOnlineTimeWindow="15">
      <providers>
        <clear/>
        <add name="dbSqlMemberShipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="CamaraWebSiteAccounts" enablePasswordRetrieval="true" enablePasswordReset="true" requiresQuestionAndAnswer="false" applicationName="CamaraWebsite" requiresUniqueEmail="true" passwordFormat="Encrypted" maxInvalidPasswordAttempts="3" minRequiredPasswordLength="3" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" passwordStrengthRegularExpression=""/>
        <!-- IMPORTANT!************************************************************* -->
        <!-- The second membership provider - sets requiresQuestionAndAnswer="false" so admin can change password without providing this information -->
        <add name="dbSqlMemberShipProviderAdmin" type="System.Web.Security.SqlMembershipProvider" connectionStringName="CamaraWebSiteAccounts" enablePasswordRetrieval="true" enablePasswordReset="true" requiresQuestionAndAnswer="false" applicationName="CamaraWebsite" requiresUniqueEmail="true" passwordFormat="Encrypted" maxInvalidPasswordAttempts="3" minRequiredPasswordLength="3" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" passwordStrengthRegularExpression=""/>
      </providers>
    </membership>
    <profile enabled="true" inherits="CamaraComercio.Website.OficinaVirtualUserProfile">
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider, System.Web,Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" connectionStringName="CamaraWebSiteAccounts" applicationName="CamaraWebsite"/>
      </providers>
    </profile>
    <!-- IMPORTANT!************************************************************* -->
    <!-- Because the password format is set to ENCRYPTED, a machine key like below is required. If you don't want to use the one provided below, you can create your own key at: http://www.eggheadcafe.com/articles/GenerateMachineKey/GenerateMachineKey.aspx. If you set the password format to Clear or Hashed, you can delete or comment out this machine key. -->
    <machineKey decryption="AES" validation="SHA1" decryptionKey="C7C731D64AAE26CDC6691216C00F37EF19016FE8447ACCF0" validationKey="92F9A64F420F2E190F97BC1BA1B6E5329F97C4ED06BE19CB1932F39FBABE9C8B07685B2014DD6F37EDDBCC44A316085CACDC8C4727699D28B42F6031DBF158D6"/>
    <siteMap defaultProvider="HomeSiteMap" enabled="true">
      <providers>
        <clear/>
        <add name="HomeSiteMap" type="CamaraComercio.Website.RoleBasedXmlSiteMapProvider" siteMapFile="~/web.sitemap" securityTrimmingEnabled="true"/>
        <add name="EmpresaSiteMap" type="CamaraComercio.Website.RoleBasedXmlSiteMapProvider" siteMapFile="~/Empresas/web.sitemap" securityTrimmingEnabled="true"/>
        <add name="AccountSiteMap" type="System.Web.XmlSiteMapProvider" siteMapFile="~/Account/Account.sitemap"/>
      </providers>
    </siteMap>
    <httpModules>
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah"/>
      <add name="SiteMapSecurityModule" type="CamaraComercio.Website.SiteMapSecurityModule, CamaraComercio.WebSite"/>
    </httpModules>
    <httpHandlers>
      <add verb="*" path="GetImage.axd" type="CamaraComercio.Website.GetBarCodeHandler, CamaraComercio.Website"/>
      <add verb="*" path="Upload.ashx" type="CamaraComercio.Website.Empresas.MyUpload, CamaraComercio.Website"/>
      <add verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah"/>
      <add path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" validate="false"/>
      <add verb="GET" path="CaptchaImage.axd" type="MSCaptcha.captchaImageHandler, MSCaptcha"/>
    </httpHandlers>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" preCondition="managedHandler"/>
    </modules>
    <handlers>
      <add name="MSCaptcha.captchaImageHandler" verb="GET" path="CaptchaImage.axd" type="MSCaptcha.captchaImageHandler, MSCaptcha" resourceType="Unspecified"/>
      <add name="Elmah" path="elmah.axd" verb="POST,GET,HEAD" type="Elmah.ErrorLogPageFactory, Elmah" preCondition="integratedMode"/>
      <add name="Telerik_Web_UI_WebResource_axd" verb="*" preCondition="integratedMode" path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource"/>
      <!-- IMPORTANT!************************************************************* -->
      <!-- tell IIS to use the captcha image handler -->
      <add name="CaptchaImage" verb="*" path="CaptchaImage.aspx" preCondition="integratedMode" type="WebControlCaptcha.CaptchaImageHandler, WebControlCaptcha"/>
    </handlers>
    <staticContent>
      <remove fileExtension=".js"/>
      <mimeMap fileExtension=".js" mimeType="text/javascript"/>
    </staticContent>
    <httpProtocol>
      <customHeaders>
        <clear/>
        <add name="X-UA-Compatible" value="IE=edge"/>
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <system.net>
    <mailSettings>
      <smtp from="noreply@camarasantodomingo.do" deliveryMethod="Network">
        <network userName="ccpsdmail" password="m8-awuDeWre*" host="srvrmail.cc.corp" defaultCredentials="false"/>
      </smtp>
    </mailSettings>
  </system.net>
  <applicationSettings>
    <CamaraComercio.Website.Properties.Settings>
      <setting name="CamaraComercio_Website_svrkofax_wsCSI" serializeAs="String">
        <value>http://content/wsdeploy/wscsi.asmx</value>
      </setting>
      <setting name="CamaraComercio_Website_kofaxVisorWeb_DocumentWebService" serializeAs="String">
        <value>http://content/VisorWeb/DocumentWebService.asmx</value>
      </setting>
      <setting name="CamaraComercio_Website_wsOnapi2_ServicioCC" serializeAs="String">
        <value>http://www.onapi.gob.do/cte/serviciocc.asmx</value>
      </setting>
      <setting name="CamaraComercio_Website_wsDgii3_wsDGII" serializeAs="String">
        <value>http://www.dgii.gov.do/wsCamaraComercioTest/WSdgii.asmx</value>
      </setting>
      <setting name="CamaraComercio_Website_wsReporteRM_wsRegistroMercantil" serializeAs="String">
        <value>http://websrm24:1042/wsRegistroMercantil.asmx</value>
      </setting>
      <setting name="CamaraComercio_Website_wsFacturacion_ServicioFacturacion" serializeAs="String">
        <value>http://localhost:37245/Facturacion/ServicioFacturacion.asmx</value>
      </setting>
    </CamaraComercio.Website.Properties.Settings>
  </applicationSettings>
  <!-- Accesos a página que no requiere autenticacion-->
  <location path="ConsultaEstado.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="WSMovilDGIISoap">
          <security mode="Transport"/>
        </binding>
        <binding name="BasicHttpBinding_IOnlineChamberService"/>
        <binding name="iRates"/>
        <binding name="ratesSoap"/>
      </basicHttpBinding>
      <customBinding>
        <binding name="iRates1">
          <textMessageEncoding messageVersion="Soap12"/>
          <httpTransport/>
        </binding>
        <binding name="ratesSoap12">
          <textMessageEncoding messageVersion="Soap12"/>
          <httpTransport/>
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="https://dgii.gov.do/wsMovilDGII/WSMovilDGII.asmx" binding="basicHttpBinding" bindingConfiguration="WSMovilDGIISoap" contract="WSMovilDGII.WSMovilDGIISoap" name="WSMovilDGIISoap"/>
      <endpoint address="http://10.10.80.12:8083/OnlineChamberService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IOnlineChamberService" contract="WSShareBase.IOnlineChamberService" name="BasicHttpBinding_IOnlineChamberService"/>
      <endpoint address="http://www.mondor.org/ces/rates.asmx" binding="basicHttpBinding" bindingConfiguration="iRates" contract="WSMondorRates.iRates" name="iRates"/>
    </client>
  </system.serviceModel>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="itextsharp" publicKeyToken="8354ae6d2174ddca" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.0.5.0" newVersion="5.0.5.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>