<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="NoboxLogin" value="http://10.10.80.40/Account/Login.aspx" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="NoboxLogout" value="http://10.10.80.40" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="NoboxMainPage" value="http://10.10.80.40" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="TransaccionalUrl" value="http://10.10.80.40/TarjetaCredito/PagosTarjeta.aspx" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="TransaccionalUrlPaginaTransaccion" value="http://10.10.80.40/TarjetaCredito/PagoTransaccion.aspx" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="UrlPortal" value="http://10.10.80.40" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ShareBaseEnabled" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>
    <connectionStrings>
      <add name="SRM" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" connectionString="Data Source=10.10.80.17;Initial Catalog=camara{0};Integrated Security=SSPI;Max Pool Size=1000;Asynchronous Processing=True;Connect Timeout=120" providerName="System.Data.SqlClient" />
      <add name="CamaraWebsite" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" connectionString="Data Source=10.10.80.17;Initial Catalog=CamaraWebsite;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
      <add name="CamaraWebsiteErrors" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" connectionString="Data Source=10.10.80.17;Initial Catalog=CamaraWebsiteErrors;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
      <add name="CamaraWebSiteAccounts" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" connectionString="Data Source=10.10.80.17;Initial Catalog=CamaraWebsiteAccounts;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
      <add name="CamaraComun" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" connectionString="Data Source=10.10.80.17;Initial Catalog=CamaraComun;Integrated Security=SSPI;Max Pool Size=1000;Asynchronous Processing=True;Connect Timeout=120" providerName="System.Data.SqlClient" />
      <add name="SRMDB" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" connectionString="Data Source=10.10.80.17;Initial Catalog=CamaraSDQ;Integrated Security=SSPI;Max Pool Size=1000;Asynchronous Processing=True;Connect Timeout=120" providerName="System.Data.SqlClient" />
      <add name="SRMDB" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" connectionString="Data Source=10.10.80.17;Initial Catalog=CamaraSDQ;Integrated Security=SSPI;Max Pool Size=1000;Asynchronous Processing=True;Connect Timeout=120" providerName="System.Data.SqlClient" />
      <add name="SRMDB_Base" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" connectionString="Data Source=10.10.80.17;Initial Catalog=Camara{0};Integrated Security=SSPI;Max Pool Size=1000;Asynchronous Processing=True;Connect Timeout=120" providerName="System.Data.SqlClient" />
      <add name="CamaraMailBot" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" connectionString="Data Source=10.10.80.17;Initial Catalog=CamaraMailBot;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
      <add name="dbMyCMSConnectionString" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" connectionString="Data Source=10.10.80.17;Initial Catalog=CamaraWebsiteAccounts;Integrated Security=True" providerName="System.Data.SqlClient" />
      <!-- Entity Framework -->
      <add name="CamaraComunEntities" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" connectionString="metadata=res://*/CamaraComunModel.csdl|res://*/CamaraComunModel.ssdl|res://*/CamaraComunModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=10.10.3011;Initial Catalog=CamaraComun;10.10.30.11;Initial Catalog=CamaraComun;User Id=sa;Password=Camara123*;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
      <add name="CamaraWebsiteEntities" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" connectionString="metadata=res://*/OficinaVirtualModel.csdl|res://*/OficinaVirtualModel.ssdl|res://*/OficinaVirtualModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=10.10.80.17;Initial Catalog=CamaraWebsite;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
      <add name="CamaraWebsiteAccountsEntities" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" connectionString="metadata=res://*/MembershipModel.csdl|res://*/MembershipModel.ssdl|res://*/MembershipModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=10.10.80.17;Initial Catalog=CamaraWebsiteAccounts;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
      <add name="CamaraSRMEntities" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" connectionString="metadata=res://*/SRMModel.csdl|res://*/SRMModel.ssdl|res://*/SRMModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=10.10.80.17;Initial Catalog=Camara{0};Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
      <add name="ModuloPagoVisanetEntities" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" connectionString="metadata=res://*/ModelModuloPagoVisanet.csdl|res://*/ModelModuloPagoVisanet.ssdl|res://*/ModelModuloPagoVisanet.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.10.80.17;initial catalog=ModuloPagoVisanet;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
      <add name="CamaraSRMEntitiesSDQ" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" connectionString="metadata=res://*/SRMModel.csdl|res://*/SRMModel.ssdl|res://*/SRMModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=10.10.80.17;Initial Catalog=CamaraSDQ;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
  <applicationSettings>
    <CamaraComercio.Website.Properties.Settings>
      <setting name="CamaraComercio_Website_wsFacturacion_ServicioFacturacion" serializeAs="String" xdt:Locator="Match(name)"  xdt:Transform="Replace" >
        <value>http://labsrm01:1015/Facturacion/ServicioFacturacion.asmx</value>
      </setting>
    </CamaraComercio.Website.Properties.Settings>
  </applicationSettings>
</configuration>