<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>10.10.80.21</MSDeployServiceURL>
    <DeployIisAppPath>CamaraOnline</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>CC\ext_servicioen1</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="CamaraWebsiteAccountsEntities" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=10.10.30.11;Initial Catalog=CamaraWebsiteAccounts;User ID=sa2;Password=Camara321*" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\CamaraWebsiteAccountsEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/MembershipModel.csdl|res://*/MembershipModel.ssdl|res://*/MembershipModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=10.10.30.11;Initial Catalog=CamaraWebsiteAccounts;User Id=sa2;Password=Camara321*;MultipleActiveResultSets=True&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="dbMyCMSConnectionString" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=10.10.30.11;Initial Catalog=CamaraWebsiteAccounts;User ID=sa2;Password=Camara321*" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\dbMyCMSConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=10.10.30.11;Initial Catalog=CamaraWebsiteAccounts;User Id=sa2;Password=Camara321*;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="CamaraWebSiteAccounts" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=10.10.30.11;Initial Catalog=CamaraWebsiteAccounts;User ID=sa2;Password=Camara321*" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\CamaraWebSiteAccounts_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=10.10.30.11;Initial Catalog=CamaraWebsiteAccounts;User Id=sa2;Password=Camara321*;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="CamaraWebsiteEntities" Order="5" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=10.10.30.11;Initial Catalog=CamaraWebsite;User ID=sa2;Password=Camara321*" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\CamaraWebsiteEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/OficinaVirtualModel.csdl|res://*/OficinaVirtualModel.ssdl|res://*/OficinaVirtualModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=10.10.30.11;Initial Catalog=CamaraWebsite;User Id=sa2;Password=Camara321*;MultipleActiveResultSets=True&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="CamaraSRMEntitiesSDQ" Order="6" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=10.10.30.11;Initial Catalog=CamaraSDQ;User ID=sa2;Password=Camara321*" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\CamaraSRMEntitiesSDQ_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/SRMModel.csdl|res://*/SRMModel.ssdl|res://*/SRMModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=10.10.30.11;Initial Catalog=CamaraSDQ;User Id=sa2;Password=Camara321*;MultipleActiveResultSets=True&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="CamaraWebsiteErrors" Order="7" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=10.10.30.11;Initial Catalog=CamaraWebsiteErrors;User ID=sa2;Password=Camara321*" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\CamaraWebsiteErrors_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=10.10.30.11;Initial Catalog=CamaraWebsiteErrors;User Id=sa2;Password=Camara321*;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="CamaraComunEntities" Order="8" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=10.10.30.11;Initial Catalog=CamaraComun;User ID=sa2;Password=Camara321*" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\CamaraComunEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/CamaraComunModel.csdl|res://*/CamaraComunModel.ssdl|res://*/CamaraComunModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=10.10.30.11;Initial Catalog=CamaraComun;User Id=sa2;Password=Camara321*;MultipleActiveResultSets=True&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="CamaraSRMEntities" Order="9" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=10.10.30.11;Initial Catalog=Camara{0};User ID=sa2;Password=Camara321*" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\CamaraSRMEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/SRMModel.csdl|res://*/SRMModel.ssdl|res://*/SRMModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=10.10.30.11;Initial Catalog=Camara{0};User Id=sa2;Password=Camara321*;MultipleActiveResultSets=True&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="CamaraWebsite" Order="10" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=10.10.30.11;Initial Catalog=CamaraWebsite;User ID=sa2;Password=Camara321*" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\CamaraWebsite_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=10.10.30.11;Initial Catalog=CamaraWebsite;User Id=sa2;Password=Camara321*;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="CamaraMailBot" Order="11" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=10.10.30.11;Initial Catalog=CamaraMailBot;User ID=sa2;Password=Camara321*" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\CamaraMailBot_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=10.10.30.11;Initial Catalog=CamaraMailBot;User Id=sa2;Password=Camara321*;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="CamaraComun" Order="12" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=10.10.30.11;Initial Catalog=CamaraComun;User ID=sa2;Password=Camara321*;Max Pool Size=1000;Asynchronous Processing=True;Connect Timeout=120" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\CamaraComun_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=10.10.30.11;Initial Catalog=CamaraComun;User Id=sa2;Password=Camara321*;Max Pool Size=1000;Asynchronous Processing=True;Connect Timeout=120" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="SRMDB_Base" Order="13" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=10.10.30.11;Initial Catalog=Camara{0};User ID=sa2;Password=Camara321*;Max Pool Size=1000;Asynchronous Processing=True;Connect Timeout=120" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\SRMDB_Base_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=10.10.30.11;Initial Catalog=Camara{0};User Id=sa2;Password=Camara321*;Max Pool Size=1000;Asynchronous Processing=True;Connect Timeout=120" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="SRMDB" Order="14" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=10.10.30.11;Initial Catalog=CamaraSDQ;User ID=sa2;Password=Camara321*;Max Pool Size=1000;Asynchronous Processing=True;Connect Timeout=120" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\SRMDB_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=10.10.30.11;Initial Catalog=CamaraSDQ;User Id=sa2;Password=Camara321*;Max Pool Size=1000;Asynchronous Processing=True;Connect Timeout=120" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="SRM" Order="15" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=10.10.30.11;Initial Catalog=camara{0};User ID=sa2;Password=Camara321*;Max Pool Size=1000;Asynchronous Processing=True;Connect Timeout=120" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\SRM_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=10.10.30.11;Initial Catalog=camara{0};User Id=sa2;Password=Camara321*;Max Pool Size=1000;Asynchronous Processing=True;Connect Timeout=120" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="ModuloPagoVisanetEntities" Order="16" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="ModuloPago.ModuloPagoVisanetEntities, ModuloPago" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <PrecompileBeforePublish>True</PrecompileBeforePublish>
    <EnableUpdateable>True</EnableUpdateable>
    <DebugSymbols>False</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="SRMDB_Base-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="SRMDB-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="SRM-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="ModuloPagoVisanetEntities-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="dbMyCMSConnectionString-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="CamaraWebsiteErrors-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="CamaraWebsiteEntities-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="CamaraWebsiteAccountsEntities-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="CamaraWebSiteAccounts-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="CamaraWebsite-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="CamaraSRMEntitiesSDQ-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="CamaraSRMEntities-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="CamaraMailBot-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="CamaraComunEntities-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="CamaraComun-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>