<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsManagementApp.Properties.Settings._522606_ccpsdmssqlConnectionString"
            connectionString="Data Source=72.3.204.155,4120;Initial Catalog=522606_ccpsdmssql;Persist Security Info=True;User ID=522606_nobox2;Password=00N0b0xDev00"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>