.dirtyField
{
    color: red;
}
.dirtyForm
{
    background-color: #ffffcc;
}
.dirtyChoice
{
    font-style: italic;
    font-weight: bold;
}
.changed
{
    font-style: italic;
    color: red;    
}
