<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
  </system.web>
  <appSettings>
    <!--Esta lista se crea para agregar las camaras que realizan pagos + "/" + El nombre del metodo de pago-->
    <add key="CamarasConPago" value="SDQ/Visanet,SAN/Visanet,SPM/Carnet,EPT/Azul,PPT/Azul,MCR/Azul,MON/Azul,SRA/Azul,VVD/Azul,IND/Carnet,LVG/Azul,SMN/Carnet,ALT/Carnet" />
    <add key="TransGatewayUrl" value="https://ecommerce.visanet.com.do/APaymentWebPay/default.aspx" />
    <add key="TransGatewayConfirmUrl" value="http://ccpsd.sugarcoded.co/payments/confirm" />
    <add key="TransGatewayApiKey" value="LTM1MTY4MDE4" />
    <add key="TransGatewayApiKeySAN" value="NJMZMJK0MJY4ODG4MTA0MZI0" />
    <add key="TransGatewayOrderType" value="RM-OFV" />
    <!-- Key para Camaras con CardNet, Format: MerchantNumber,MerchantTerminal,MerchantType, -->
    <add key="SPM" value="349000000,58585858,7997,0," />
    <add key="IND" value="349000000,58585858,7997,0," />
    <add key="ALT" value="349000000,58585858,7997,0," />
    <add key="SMN" value="349087822,10310750,9399,0," />
    <!--<add key="IND" value="349087406,10310609,9399,0," />-->
    <add key="TransGatewayUrlCardNet" value="https://lab.cardnet.com.do/authorize" />
    <!-- Key para Camaras con Azul, Format: MerchantId,MerchantName,MerchantType,Authkey, -->
    <add key="LVG" value="39038540035,0,0,asdhakjshdkjasdasmndajksdkjaskldga8odya9d8yoasyd98asdyaisdhoaisyd0a8sydoashd8oasydoiahdpiashd09ayusidhaos8dy0a8dya08syd0a8ssdsax," />
    <add key="EPT" value="39038540035,0,0,asdhakjshdkjasdasmndajksdkjaskldga8odya9d8yoasyd98asdyaisdhoaisyd0a8sydoashd8oasydoiahdpiashd09ayusidhaos8dy0a8dya08syd0a8ssdsax," />
    <add key="PPT" value="39038540035,0,0,asdhakjshdkjasdasmndajksdkjaskldga8odya9d8yoasyd98asdyaisdhoaisyd0a8sydoashd8oasydoiahdpiashd09ayusidhaos8dy0a8dya08syd0a8ssdsax," />
    <add key="MCR" value="39038540035,0,0,asdhakjshdkjasdasmndajksdkjaskldga8odya9d8yoasyd98asdyaisdhoaisyd0a8sydoashd8oasydoiahdpiashd09ayusidhaos8dy0a8dya08syd0a8ssdsax," />
    <add key="MON" value="39038540035,0,0,asdhakjshdkjasdasmndajksdkjaskldga8odya9d8yoasyd98asdyaisdhoaisyd0a8sydoashd8oasydoiahdpiashd09ayusidhaos8dy0a8dya08syd0a8ssdsax," />
    <add key="SRA" value="39038540035,0,0,asdhakjshdkjasdasmndajksdkjaskldga8odya9d8yoasyd98asdyaisdhoaisyd0a8sydoashd8oasydoiahdpiashd09ayusidhaos8dy0a8dya08syd0a8ssdsax," />
    <add key="VVD" value="39038540035,0,0,asdhakjshdkjasdasmndajksdkjaskldga8odya9d8yoasyd98asdyaisdhoaisyd0a8sydoashd8oasydoiahdpiashd09ayusidhaos8dy0a8dya08syd0a8ssdsax," />
    <!--<add key="EPTAuthkey" value="asdhakjshdkjasdasmndajksdkjaskldga8odya9d8yoasyd98asdyaisdhoaisyd0a8sydoashd8oasydoiahdpiashd09ayusidhaos8dy0a8dya08syd0a8ssdsax"/>-->
    <add key="TransGatewayUrlAzul" value="https://pruebas.azul.com.do/PaymentPage/" />
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="ModuloPagoVisanetEntities" connectionString="metadata=res://*/ModelModuloPagoVisanet.csdl|res://*/ModelModuloPagoVisanet.ssdl|res://*/ModelModuloPagoVisanet.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=CCPSDIT17\MSSQLSERVER_DEV;initial catalog=ModuloPagoVisanet;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--devsvr\express-->
  </connectionStrings>
</configuration>